<form method="post" action="{{ path('weather_data_delete', {'id': weather_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ weather_datum.id) }}">
    <button class="btn">Delete</button>
</form>