{% extends 'base.html.twig' %}

{% block title %}Edit WeatherData{% endblock %}

{% block body %}
    <h1>Edit WeatherData</h1>

    {{ include('weather_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('weather_data_index') }}">back to list</a>

    {{ include('weather_data/_delete_form.html.twig') }}
{% endblock %}