{% extends 'base.html.twig' %}

{% block title %}WeatherData{% endblock %}

{% block body %}
    <h1>WeatherData</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weather_datum.id }}</td>
            </tr>
            <tr>
                <th>NumerSta</th>
                <td>{{ weather_datum.numerSta }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ weather_datum.date }}</td>
            </tr>
            <tr>
                <th>Pmer</th>
                <td>{{ weather_datum.pmer }}</td>
            </tr>
            <tr>
                <th>Tend</th>
                <td>{{ weather_datum.tend }}</td>
            </tr>
            <tr>
                <th>CodTend</th>
                <td>{{ weather_datum.codTend }}</td>
            </tr>
            <tr>
                <th>Dd</th>
                <td>{{ weather_datum.dd }}</td>
            </tr>
            <tr>
                <th>Ff</th>
                <td>{{ weather_datum.ff }}</td>
            </tr>
            <tr>
                <th>T</th>
                <td>{{ weather_datum.t }}</td>
            </tr>
            <tr>
                <th>Td</th>
                <td>{{ weather_datum.td }}</td>
            </tr>
            <tr>
                <th>U</th>
                <td>{{ weather_datum.u }}</td>
            </tr>
            <tr>
                <th>Vv</th>
                <td>{{ weather_datum.vv }}</td>
            </tr>
            <tr>
                <th>Ww</th>
                <td>{{ weather_datum.ww }}</td>
            </tr>
            <tr>
                <th>W1</th>
                <td>{{ weather_datum.w1 }}</td>
            </tr>
            <tr>
                <th>W2</th>
                <td>{{ weather_datum.w2 }}</td>
            </tr>
            <tr>
                <th>N</th>
                <td>{{ weather_datum.n }}</td>
            </tr>
            <tr>
                <th>Nbas</th>
                <td>{{ weather_datum.nbas }}</td>
            </tr>
            <tr>
                <th>Hbas</th>
                <td>{{ weather_datum.hbas }}</td>
            </tr>
            <tr>
                <th>Cl</th>
                <td>{{ weather_datum.cl }}</td>
            </tr>
            <tr>
                <th>Cm</th>
                <td>{{ weather_datum.cm }}</td>
            </tr>
            <tr>
                <th>Ch</th>
                <td>{{ weather_datum.ch }}</td>
            </tr>
            <tr>
                <th>Pres</th>
                <td>{{ weather_datum.pres }}</td>
            </tr>
            <tr>
                <th>NivBar</th>
                <td>{{ weather_datum.nivBar }}</td>
            </tr>
            <tr>
                <th>Geop</th>
                <td>{{ weather_datum.geop }}</td>
            </tr>
            <tr>
                <th>Tend24</th>
                <td>{{ weather_datum.tend24 }}</td>
            </tr>
            <tr>
                <th>Tminsol</th>
                <td>{{ weather_datum.tminsol }}</td>
            </tr>
            <tr>
                <th>Sw</th>
                <td>{{ weather_datum.sw }}</td>
            </tr>
            <tr>
                <th>Tw</th>
                <td>{{ weather_datum.tw }}</td>
            </tr>
            <tr>
                <th>Raf10</th>
                <td>{{ weather_datum.raf10 }}</td>
            </tr>
            <tr>
                <th>Rafper</th>
                <td>{{ weather_datum.rafper }}</td>
            </tr>
            <tr>
                <th>Per</th>
                <td>{{ weather_datum.per }}</td>
            </tr>
            <tr>
                <th>EtatSol</th>
                <td>{{ weather_datum.etatSol }}</td>
            </tr>
            <tr>
                <th>HtNeige</th>
                <td>{{ weather_datum.htNeige }}</td>
            </tr>
            <tr>
                <th>Ssfrai</th>
                <td>{{ weather_datum.ssfrai }}</td>
            </tr>
            <tr>
                <th>Perssfrai</th>
                <td>{{ weather_datum.perssfrai }}</td>
            </tr>
            <tr>
                <th>Tn12</th>
                <td>{{ weather_datum.tn12 }}</td>
            </tr>
            <tr>
                <th>Tn24</th>
                <td>{{ weather_datum.tn24 }}</td>
            </tr>
            <tr>
                <th>Tx12</th>
                <td>{{ weather_datum.tx12 }}</td>
            </tr>
            <tr>
                <th>Tx24</th>
                <td>{{ weather_datum.tx24 }}</td>
            </tr>
            <tr>
                <th>Rr1</th>
                <td>{{ weather_datum.rr1 }}</td>
            </tr>
            <tr>
                <th>Rr3</th>
                <td>{{ weather_datum.rr3 }}</td>
            </tr>
            <tr>
                <th>Rr6</th>
                <td>{{ weather_datum.rr6 }}</td>
            </tr>
            <tr>
                <th>Rr12</th>
                <td>{{ weather_datum.rr12 }}</td>
            </tr>
            <tr>
                <th>Rr24</th>
                <td>{{ weather_datum.rr24 }}</td>
            </tr>
            <tr>
                <th>Phenspe1</th>
                <td>{{ weather_datum.phenspe1 }}</td>
            </tr>
            <tr>
                <th>Phenspe2</th>
                <td>{{ weather_datum.phenspe2 }}</td>
            </tr>
            <tr>
                <th>Phenspe3</th>
                <td>{{ weather_datum.phenspe3 }}</td>
            </tr>
            <tr>
                <th>Phenspe4</th>
                <td>{{ weather_datum.phenspe4 }}</td>
            </tr>
            <tr>
                <th>Nnuage1</th>
                <td>{{ weather_datum.nnuage1 }}</td>
            </tr>
            <tr>
                <th>Ctype1</th>
                <td>{{ weather_datum.ctype1 }}</td>
            </tr>
            <tr>
                <th>Hnuage1</th>
                <td>{{ weather_datum.hnuage1 }}</td>
            </tr>
            <tr>
                <th>Nnuage2</th>
                <td>{{ weather_datum.nnuage2 }}</td>
            </tr>
            <tr>
                <th>Ctype2</th>
                <td>{{ weather_datum.ctype2 }}</td>
            </tr>
            <tr>
                <th>Hnuage2</th>
                <td>{{ weather_datum.hnuage2 }}</td>
            </tr>
            <tr>
                <th>Nnuage3</th>
                <td>{{ weather_datum.nnuage3 }}</td>
            </tr>
            <tr>
                <th>Ctype3</th>
                <td>{{ weather_datum.ctype3 }}</td>
            </tr>
            <tr>
                <th>Hnuage3</th>
                <td>{{ weather_datum.hnuage3 }}</td>
            </tr>
            <tr>
                <th>Nnuage4</th>
                <td>{{ weather_datum.nnuage4 }}</td>
            </tr>
            <tr>
                <th>Ctype4</th>
                <td>{{ weather_datum.ctype4 }}</td>
            </tr>
            <tr>
                <th>Hnuage4</th>
                <td>{{ weather_datum.hnuage4 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('weather_data_index') }}">back to list</a>

    <a href="{{ path('weather_data_edit', {'id': weather_datum.id}) }}">edit</a>

    {{ include('weather_data/_delete_form.html.twig') }}
{% endblock %}