{% extends 'base.html.twig' %}
{% block body %}
    {% if error == "id" %}
La station auquel vous essayé d'accéder n'est pas disponible ou n'existe pas, veuillez en écrire une autre.
    {% elseif error == "order" %}
Le filtre sélectionné n'existe pas dsl
    {% endif %}
{% endblock %}