{% extends 'base.html.twig' %}
{% block body %}
<h1 class="station">{{ stations[datas[0].numer_sta] }}</h1>
<div class="container">
    <div class="data_left">
        <h1>Samedi</h1>
    {% for data in datas %}
        {% if data.date |slice(6, 2) == 12 %}
        <div class="data" data-id="{{ data.date |slice(8, 2) }}">
            <div class="tabs">
                <div class="tab" data-id="00">00h</div>
                <div class="tab" data-id="03">03h</div>
                <div class="tab" data-id="06">06h</div>
                <div class="tab" data-id="09">09h</div>
                <div class="tab" data-id="12">12h</div>
                <div class="tab" data-id="15">15h</div>
                <div class="tab" data-id="18">18h</div>
                <div class="tab" data-id="21">21h</div>
            </div>
        <div class="data_container">
            <h2 class="date">
                {{ data.date |slice(6, 2) }}/{{ data.date |slice(4, 2) }}/{{ data.date |slice(0, 4) }}<br>
                {{ data.date |slice(8, 2) }}h
            </h2>
            <div><img class="temps" src="{{ asset(data.ww) }}"><br></div>
            <ul class="données">
                 Température: {{ data.t - 273.15 }} °C<br>
                 Direction du vent: {{ data.dd }} °<br>
                 Vitesse du vent: {{ data.ff }} m/s<br>
                 Humidité dans l'air: {{ data.u}} %<br>
            </ul>
        </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="middle_informations">
            <h2>Récapitulatif:</h2>
            Température max :
        <h3>{{ max - 273.15}}°C</h3><br>
            Température min :
        <h3>{{ min - 273.15 }}°C</h3>
            Vitesse moyenne du vent :
        <h3>{{ ave }}m/s</h3>
    </div>
    <div class="data_right">
        <h1>Dimanche</h1>
    {% for data in datas %}
        {% if data.date |slice(6, 2) == 13 %}
        <div class="data" data-id="{{ data.date |slice(8, 2) }}">
            <div class="tabs">
                <div class="tab" data-id="00">00h</div>
                <div class="tab" data-id="03">03h</div>
                <div class="tab" data-id="06">06h</div>
                <div class="tab" data-id="09">09h</div>
                <div class="tab" data-id="12">12h</div>
                <div class="tab" data-id="15">15h</div>
                <div class="tab" data-id="18">18h</div>
            </div>
        <div class="data_container">
            <h2 class="date">
                {{ data.date |slice(6, 2) }}/{{ data.date |slice(4, 2) }}/{{ data.date |slice(0, 4) }}<br>
                {{ data.date |slice(8, 2) }}h
            </h2>
            <div><img class="temps" src="{{ asset(data.ww) }}"><br></div>
            <ul class="données">
                 Température: {{ data.t - 273.15 }} °C<br>
                 Direction du vent: {{ data.dd }} °<br>
                 Vitesse du vent: {{ data.ff }} m/s<br>
                 Humidité dans l'air: {{ data.u}} %<br>
            </ul>
        </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}