{% extends 'base.html.twig' %}
{% block body %}
<div>
    {% for data in datas %}
        <div>
            <div> {{ stations[data.numer_sta] }} </div><br>
            <div>Pour la date {{ data.date }}
            <ul>
                <li> Température: {{ data.t }} K</li>
                <li> Direction du vent: {{ data.dd }} °</li>
                <li> Vitesse du vent: {{ data.ff }} m/s</li>
                <li> Humidité dans l'air: {{ data.u}} %</li>
                <li> temps : {{ data.ww }}</li>
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
