{% extends 'base.html.twig' %}
{% block body %}
<div>
<a href="{{ path("main") }}">Toutes les stations</a><br>
<a href="{{ path("stationsRain") }}">La pluie</a><br>
<a href="/meteo/stations/order/wind_direction">La direction vent</a><br>
<a href="/meteo/stations/order/temperature">La temperature</a><br>
/meteo/stations/{stationId} Pour accéder à une station<br>

</div>
{% endblock %}