body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.data_left, .data_right{
    text-align: center;
    width: 25%;
}

.data{
    height: 450px;
    width: 100%;
    margin-bottom: 10%;
    display: none;
}

.data_container{
    background: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: black solid 1px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul{
    padding: 0;
}

.temps{
    width: 50%;
}

.tab{
    border-left : black solid 1px;
    justify-content: center;
    display: flex;
    width: 100%;
}
.tab:first-of-type{
    border-top-left-radius: 14px;
    border-left: 1px;
    background: blue;
    color: white;
}

.tab:last-of-type{
    border-top-right-radius: 14px;
}

.tab:hover{
    background: blue;
    color: white;
}

.data:first-of-type{
    display: block;
}

.middle_informations{
    width: 20%;
    height: 350px;
    border-radius:15px;
    background: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h1{
    text-align: center;
}

*{
    font-family: 'Signika', sans-serif;
}

.station{
    color:red;
}

.tabs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px 15px 0px 0px ;
    border-top : 1px solid black;
    border-right : 1px solid black;
    border-left : 1px solid black;

}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #99CCCC;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

a{
    color: black;
    text-decoration: none; /* no underline */
}