<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <div class="nav">
                <div class="menu">
                    <a href="{{ path("FINALU")}}">Stations bien</a><br>
                    <a href="{{ path("main") }}">Toutes les stations</a><br>
                    <a href="{{ path("stationsRain") }}">La pluie</a><br>
                    <a href="{{ path("orderByParam", {param : "wind_direction"})}}">La direction vent</a><br>
                    <a href="{{ path("orderByParam", {param : "temperature"})}}">La temperature</a><br>
                </div>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('jquery-3.2.1.min.js')}}"></script>
        <script src="{{ asset('main.js')}}"></script>
        {% endblock %}
    </body>
</html>
